.nav-icon-1 {
  width: 60px;
  height: 45px;
  position: fixed;
  z-index:1000;
  margin:28px 0px 0px 25px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  opacity:.6;
  z-index:1000;
}

.nav-icon-1 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  border-radius:5px;
  background: #fff;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.nav-icon-1:hover {
  opacity:1;
  transition: ease-in .3s;
}

.nav-icon-1 span:nth-child(1) {
  top: 0px;
}

.nav-icon-1 span:nth-child(2) {
  top: 18px;
}

.nav-icon-1 span:nth-child(3) {
  top: 36px;
}

.nav-icon-1.open span:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
}

.nav-icon-1.open span:nth-child(2) {
  opacity: 0;
  // left: -60px;
}

.nav-icon-1.open span:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg);
}
