@import "vars.scss";
@import "content.scss";
@import "universal.scss";
@import "mixins.scss";
@import "hamburger-menu.scss";
@import url('https://fonts.googleapis.com/css?family=Righteous');
@font-face {
  font-family: 'pink-floyd';
  src: url(../fonts/pinkfloyd.ttf);
}
@font-face {
  font-family: 'rubber-maid';
  src: url(../fonts/rubbermaid.ttf);
}
